<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Youtube Downloader</title>
		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
			integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
			crossorigin="anonymous"
		/>
		<script 
		src="https://code.jquery.com/jquery-3.6.1.js" 
		integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI="
		crossorigin="anonymous">
		</script>
	</head>
	<body>
		<div class="container my-5">
			<h1><strong>Youtube Downloader</strong></h1>
			
				<form action="http://localhost/buscarVideo/" method="GET" class="my-5">
				<div class="form-group">
					<label for="exampleInputEmail1"
						>Video Link from Youtube</label
					>
					<input
						type="text"
						class="form-control"
						placeholder="Enter Video URL"
                        name="aBuscar"
						id="idInput"
					/>
				</div>
				
			</form>
			<div class="respuesta" id="infoproceso">esperando</div>
			<button  onclick='buscarVideos(document.getElementById("idInput").value)' class="btn btn-primary">Download</button>
		</div>
	</body>
	<script src="myscript.js"></script>

</html>
