/* 
body{
    font-size: 16px !important;
}

.row{
    background-color:#0f0f0f ;
       align-items: center !important; 
    text-align: center !important; 
 
}
.tama{
    max-width: 25rem !important;
    min-height:15rem !important;
    font-size: 1.25em !important;
    max-height: 15rem !important;
}
.col{
    background-color: aliceblue;
  
}

@media (max-width: 800px) {
    .tama{
        width: 100% !important;
        min-height:15rem !important;
        font-size: 1.25em !important;
        max-height: 15rem !important;
    }
}


.card{
    
    margin: 5px; 
   
    cursor: pointer;
    background:  #21212100 !important; 
    color: rgb(255, 255, 255);
   
 
}
.row>* {
    padding-right:0px !important;
    padding: 0px;
}
.card-body {
    flex: 1 1 auto;
    padding: 0px !important;
    color: var(--bs-card-color);
}
.card-title {
    margin:1px !important;

} */

#btn_modal{
    display: none;
}
.form-select{
    max-width:69px;
    min-width: 80px;
}
#infoNav{
    margin-left: 20px;
    margin-right: 15px;
}
#ico{
    height:25px;
    width: 25px;
}

.memuMio{
    margin: 5px;
}

.gradi{
    width: 100%;
    height: 200px;
    background: rgb(203,69,128);
background: radial-gradient(circle, rgba(203,69,128,1) 6%, rgba(148,187,233,1) 80%);
}